<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/homepage_style.css">
        <title>Plane Databace</title>
    </head>
    <body>
        <img src="/static/images/header.png" style="width: 100%;">
        <div class="login-grid">
            <button>
                <a href="/login">
                    Login
                </a>
            </button>
            <button>
            Sign Up
            </button>
        </div>
    </body>
</html>